.red {
  color: #FF0000;
  font-size: 200% ;
  font-family: 'Songti SC';
}

.title1 {
  font-family:"Times New Roman",Georgia,Serif;
  font-weight: bold;
}

.conclusion {
  font-size:100%;
  font-family:"Times New Roman";
  color: blue;
  font-weight: bold;
}

.sub {
  font-size: 150% ;
  font-family: 'Songti SC';
}

.table1 {
  font-size: 60%;
}

.table2 {
  font-size: 70%;
}

.page_header {
  position:absolute;
  left: 20px;
  top: 20px;
  font-weight: bold;
  font-size: 150%;
  font-family: 'Songti SC';
  text-shadow: 5px 5px 5px #FF0000;
}

.plot_pos {
  position:absolute;
  left:250px;
  top:90px;
}

.plot_pos1 {
  position:absolute;
  left:250px;
  top:115px;
}